# OpenAQ API key used to fetch operational air quality data
OPENAQ_API_KEY=<sua_chave_openaq>

# API URL used by the Streamlit app
# Local API example: http://localhost:8501
# Cloud Run API example: https://respirasp-api-exvb6556ka-ew.a.run.app
RESPIRA_API_URL=http://localhost:8501

# Storage mode
# False = use local CSV files from data/operational/
# True = upload/read operational CSV files from Google Cloud Storage
USE_GCS_STORAGE=False

# Google Cloud Storage bucket for operational CSV files
# Example: project-5c1951c5-1a36-42b3-a73-respirasp-operational-data
GCS_BUCKET_NAME=<seu_bucket_gcs>

# Folder/prefix inside the bucket
GCS_OPERATIONAL_PREFIX=operational

# Replace with your GCP project ID
GOOGLE_CLOUD_PROJECT=<seu_project_id>

# GCP region/location
GOOGLE_CLOUD_LOCATION=europe-west1

# Vertex AI / Gemini configuration
GOOGLE_GENAI_USE_VERTEXAI=True
GEMINI_MODEL=gemini-2.5-flash

# Local credential path used by Docker Compose volume mapping
# Example host path: /home/markz/code/MA4RKZ/respirasp/gcp-key.json
GOOGLE_APPLICATION_CREDENTIALS_HOST=<caminho_local_do_json>

# Container credential path
GOOGLE_APPLICATION_CREDENTIALS=/app/gcp-key.json
