OPENAQ_API_KEY=chave

# Replace with your GCP project ID
GOOGLE_CLOUD_PROJECT=projeto

# No need to change this
GOOGLE_CLOUD_LOCATION=europe-west1

# Do not change this
GOOGLE_GENAI_USE_VERTEXAI=True
