OPENAQ_API_KEY=<chave>

# Replace with your GCP project ID
GOOGLE_CLOUD_PROJECT=<colocar aqui projeto>

# No need to change this
GOOGLE_CLOUD_LOCATION=europe-west1

# Do not change this
GOOGLE_GENAI_USE_VERTEXAI=True


GEMINI_MODEL=gemini-2.5-flash

GOOGLE_APPLICATION_CREDENTIALS_HOST= <colocar aqui json>
GOOGLE_APPLICATION_CREDENTIALS=/app/gcp-key.json